body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../img/main-1.png') no-repeat center center fixed;
  background-size: cover;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  color: white;
  font-size: 2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 10px;
}

.item-container {
  width: 100%;
  height: 260px;
  background-color: rgba(0, 0, 0, 0.59); /* 배경색에 투명도를 추가 */
  position: fixed;
  bottom: -260px; /* 초기 위치: 화면 밖 아래쪽 */
  left: 0;
  transition: bottom 0.5s ease, opacity 0.5s ease; /* 애니메이션 효과 */
  opacity: 0.2; /* 흐림도 설정 */
}

.item-container.active {
  bottom: 0; /* 화면 내 위치 */
  opacity: 1; /* 활성화될 때 선명하게 */
}
