body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('https://i.pinimg.com/originals/05/53/f2/0553f20e27fe47a8027e5f12c2b93002.jpg') no-repeat center
    center fixed;
  background-size: cover;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 7%;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.welcome-image {
  width: 30%; /* 이미지 크기를 40%로 줄입니다 */
  height: auto;
}

.text-overlay {
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  padding: 10px 20px;
  border-radius: 10px;
}

.item-container {
  height: 20%;
  background-color: rgba(0, 0, 0, 0.424);
  position: fixed;
  bottom: -20%;
  left: 0;
  transition: bottom 0.5s ease, opacity 0.5s ease, width 0.3s ease;
  opacity: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow-x: auto;
}

.item-container img {
  margin: 0 50px;
  max-width: 50px;
  height: auto;
}

.item-container.active {
  bottom: 0;
  opacity: 1;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.item button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.history {
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.snappers-image {
  width: 30%;
  height: auto;
}
