* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

#link {
  display: flex;
  justify-content: space-evenly;
}
