body {
  background: url(../img/start.png) no-repeat center center fixed;
  background-size: cover;
  font-family: 'NeoDunggeunmo';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #fff; /* 텍스트 색상 */
}

#root {
  text-align: center;
  padding: 20px;
  border: 2px solid #8b4513;
  background-color: rgba(255, 248, 220, 0.7); /* 투명 배경 */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0px 20px;
}

h1 {
  color: #a0522d;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

#link {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  width: 40px;
  text-align: left;
  margin-right: 5px;
  font-size: 18px;
  color: #a0522d; /* 버튼 hover 시 색상 */
}

input[type='text'] {
  font-family: 'NeoDunggeunmo';
  background-color: #fff;
  color: #000;
  font-size: 15px;
  padding: 10px;
  border: 2px solid #8b4513;
  border-radius: 5px;
  width: 150px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s, transform 0.3s;
}

input[type='text']:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px; /* 버튼 간의 간격 설정 */
}

input[type='button'],
input[type='submit'] {
  background-color: #d2691e;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid #8b4513;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'NeoDunggeunmo';
  text-shadow: 1px 1px 2px #000;
  transition: background-color 0.3s, transform 0.3s;
}

input[type='button']:hover,
input[type='submit']:hover {
  background-color: #a0522d;
  transform: scale(1.05);
}

input[type='button']:active,
input[type='submit']:active {
  background-color: #8b4513;
  transform: scale(1);
}

@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
